.projects {
  padding: 3rem 1rem;

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .project {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 0.4rem;
      background-color: rgba(10, 10, 10, 0.5);
      border-radius: 2px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.6rem;

        .name {
          font-size: 1.4rem;
          color: #9fc5e8;
        }

        .buttons {
          display: flex;
          gap: 1rem;
          font-size: 1.4rem;

          .button {
            color: #f3f6f4;
          }
        }

        .date {
          display: none;
        }
      }

      .description {
        font-size: 0.9rem;
        color: rgb(180, 180, 180);
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;

        .tag__icon {
          width: 1.5rem;
        }

        .tag__name {
          display: none;
        }
      }

      .date {
        text-align: right;
        font-size: 0.7rem;
        color: rgb(100, 100, 100);
      }

      .buttons {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .projects {
    max-width: 1024px;
    margin: 5rem auto 0;

    .list {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      .project {
        width: 25rem;
        justify-content: space-between;

        .header {
          .name {
            font-size: 1.6rem;
          }

          .buttons {
            display: none;
          }

          .date {
            display: block;
          }
        }

        .description {
          font-size: 1.1rem;
        }

        .tags {
          .tag {
            .tag__icon {
              width: 2rem;
            }

            .tag__name {
              position: absolute;
              padding: 0.2rem;
              background-color: #f3f6f4;
              border-radius: 4px;
              font-size: 0.8rem;

              transition: 0.2s ease-out;
            }

            &:hover {
              .tag__name {
                display: block;
              }
            }
          }
        }

        .date {
          display: none;
        }

        .buttons {
          display: flex;
          justify-content: flex-end;
          gap: 1rem;
          font-size: 1.4rem;

          .button {
            display: flex;
            justify-content: center;
            gap: 0.4rem;
            padding: 0.2rem 0.4rem;
            border-radius: 2px;
            background-color: #e06666;
            border: 1px solid #e06666;
            text-decoration: none;
            color: black;

            transition: 0.2s ease-out;

            &:hover {
              background-color: transparent;
              color: #e06666;
            }

            .name {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
