version: '2'
services:
  web:
    image: node:16-alpine
    working_dir: /usr/src/portfolio
    volumes:
      - .:/usr/src/portfolio
    command: >
      sh -c "npm i && 
             npm run build && 
             npx serve -s build"
    ports:
      - '3000:9999'
