.contact {
  margin: auto;
  padding: 4rem 1rem;

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .item {
      .link {
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 2.6rem;
        color: #e06666;
        text-decoration: none;

        .content {
          font-size: 1.2rem;
          color: #f3f6f4;
        }
      }
    }
  }
}
