#body,
#main {
  min-height: 100vh;
}

#body {
  background: linear-gradient(to top, rgba(10, 10, 10, 0.4), rgba(10, 10, 10, 0.4)),
    url('../images/background.png') center fixed no-repeat;
}

#main {
  display: flex;
  flex-direction: column;
}
